$green:#209361;
$hoverGreen:#28b377;
$gold:#fdca00;
$bgGold:#fdca00;
$red:#D24949;
$hoverBtnBg:#e31430;
$light_purple:#1e4f3c;
$dark_purple:#237f6a;
$dark2_purple:#1e4f3c;
$cardBg:#1e4f3c;
$cardBgTransparent:#171b24;
$lineColor:#b5b5b5A4;
$headerFooterBg:#171b24;
$gray:#acacac;
$text:#fff;
$inputFocusBorderColor:.15rem solid $cardBg !important;
// size
$form_padding:2.5rem 1.5rem;
$formBorderRadius:4px;
$borderRadius:16px;


$bg: #192d24;
$card:$cardBg;
$text:#fff;
$text2: #212121;
$border:1px solid #363841;
$inputBg:transparent !important;
$gray:#acacac;
$baseColor:#11593a;
$linerBg: linear-gradient(193.65deg, #192d24 32.94%, rgba(15, 22, 94, 0) 1000%), rgba(8, 7, 40, 0.2);