$green:#209361;
$hoverGreen:#28b377;
$gold:#fdca00;
$bgGold:#fdca00;
$red:#D24949;
$hoverBtnBg:#e31430;
$light_purple:#7c7af8;
$dark_purple:#41418c;
$dark2_purple:#7c7af8;
$cardBg:#7c7af8;
$cardBgTransparent:#171b24;
$lineColor:#b5b5b5A4;
$headerFooterBg:#171b24;
$gray:#acacac;
$text:#fff;

$inputFocusBorderColor:.15rem solid $cardBg !important;
// size
$form_padding:2.5rem 1.5rem;
$formBorderRadius:4px;
$borderRadius:16px;


$bg: #ffffff;
$card:$cardBg;
$text:#212121;
$text2: #fff;
$border:1px solid #363841;
$inputBg:transparent !important;
$gray:#acacac;
$baseColor:#11593a;